<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to TheMovieDB Database</h2>
  <p>Click the movies button to browse the movies or find the movie you are looking for.</p>
  <LinkTo @route="movie" class="button">Movies</LinkTo>
</div>
